a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

[hidden] {
  display: none; }

menu,
ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: black; }

img {
  display: inline; }

@font-face {
  font-family: "NeoB";
  src: url("../font/appleSDGothicNeoB.ttf"); }

@font-face {
  font-family: "NeoEB";
  src: url("../font/appleSDGothicNeoEB.ttf"); }

@font-face {
  font-family: "NeoH";
  src: url("../font/appleSDGothicNeoH.ttf"); }

@font-face {
  font-family: "NeoL";
  src: url("../font/appleSDGothicNeoL.ttf"); }

@font-face {
  font-family: "NeoM";
  src: url("../font/appleSDGothicNeoM.ttf"); }

@font-face {
  font-family: "NeoR";
  src: url("../font/appleSDGothicNeoR.ttf"); }

@font-face {
  font-family: "NeoSB";
  src: url("../font/appleSDGothicNeoSB.ttf"); }

@font-face {
  font-family: "NeoT";
  src: url("../font/appleSDGothicNeoT.ttf"); }

@font-face {
  font-family: "NeoUL";
  src: url("../font/appleSDGothicNeoUL.ttf"); }

@keyframes bounce {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0px); } }

body {
  overflow-x: hidden; }
  body .wrapper .popup-wrap {
    top: 0;
    width: 100vw;
    height: 100vw;
    visibility: hidden;
    display: flex;
    z-index: 100;
    justify-content: center;
    position: fixed; }
    body .wrapper .popup-wrap .popup {
      margin-top: 7vw;
      overflow-y: scroll;
      width: 60vw;
      height: 25vw;
      background-color: white;
      padding: 5.6vw; }
      body .wrapper .popup-wrap .popup .title .title-wrap {
        display: flex;
        align-items: flex-end;
        line-height: 2.8vw; }
        body .wrapper .popup-wrap .popup .title .title-wrap h1 {
          font-size: 2.5vw;
          font-family: "NeoB"; }
      body .wrapper .popup-wrap .popup .title p {
        margin-top: 1vw;
        font-size: 1vw;
        color: #434343;
        font-family: "NeoM"; }
      body .wrapper .popup-wrap .popup .content1 {
        margin-top: 2vw; }
        body .wrapper .popup-wrap .popup .content1 h1 {
          font-family: "NeoB";
          font-size: 1.5vw; }
        body .wrapper .popup-wrap .popup .content1 input {
          border: none;
          border-bottom: 1.8px solid lightgray;
          padding-top: 1.5vw;
          padding-bottom: 0.5vw;
          width: 100%;
          background-repeat: no-repeat;
          font-size: 1.2vw; }
        body .wrapper .popup-wrap .popup .content1 input:focus {
          outline: none; }
        body .wrapper .popup-wrap .popup .content1 input::-webkit-input-placeholder {
          font-size: 1.2vw;
          text-align: initial;
          color: black;
          font-family: "NeoB"; }
      body .wrapper .popup-wrap .popup .content2 {
        margin-top: 2vw; }
        body .wrapper .popup-wrap .popup .content2 h1 {
          font-family: "NeoB";
          font-size: 1.5vw; }
        body .wrapper .popup-wrap .popup .content2 input {
          border: none;
          border-bottom: 1.8px solid lightgray;
          padding-top: 1.5vw;
          padding-bottom: 0.5vw;
          margin-bottom: 1.5vw;
          width: 100%;
          background-repeat: no-repeat;
          font-size: 1.2vw; }
        body .wrapper .popup-wrap .popup .content2 input:focus {
          outline: none; }
        body .wrapper .popup-wrap .popup .content2 input::-webkit-input-placeholder {
          font-size: 1.2vw;
          text-align: initial;
          color: black;
          font-family: "NeoB"; }
        body .wrapper .popup-wrap .popup .content2 textarea {
          margin-bottom: 1vw;
          font-size: 1.2vw;
          border: 1px solid lightgray;
          width: 97%;
          border-radius: 1vw;
          padding: 1vw; }
        body .wrapper .popup-wrap .popup .content2 textarea::placeholder {
          color: #434343;
          font-family: "NeoM"; }
      body .wrapper .popup-wrap .popup .content3 {
        margin-bottom: 3.5vw; }
        body .wrapper .popup-wrap .popup .content3 p {
          font-size: 1vw;
          font-family: "NeoM";
          margin-bottom: 1.5vw; }
        body .wrapper .popup-wrap .popup .content3 .file-btn {
          display: flex;
          justify-content: center; }
          body .wrapper .popup-wrap .popup .content3 .file-btn img {
            width: 11.6vw; }
      body .wrapper .popup-wrap .popup .content4 {
        border: 1px solid lightgray;
        font-size: 0.9vw;
        border-radius: 1vw;
        padding: 0.9vw;
        font-family: "NeoM"; }
      body .wrapper .popup-wrap .popup .content5 {
        margin-top: 4vw;
        font-size: 1.2vw;
        font-family: "NeoM";
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .wrapper .popup-wrap .popup .content5 .check-btn {
          display: flex;
          align-items: center; }
          body .wrapper .popup-wrap .popup .content5 .check-btn strong {
            font-family: "NeoB"; }
          body .wrapper .popup-wrap .popup .content5 .check-btn input[type="checkbox"] {
            transform: scale(1.2);
            margin-right: 0.58vw; }
        body .wrapper .popup-wrap .popup .content5 .click-btn {
          margin-top: 4vw;
          display: flex; }
          body .wrapper .popup-wrap .popup .content5 .click-btn > div {
            font-family: "NeoB";
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5vw;
            font-size: 1vw;
            width: 12.5vw;
            height: 3vw;
            color: white;
            margin-left: 0.8vw; }
          body .wrapper .popup-wrap .popup .content5 .click-btn .cancel {
            background-color: #c7c7c7; }
          body .wrapper .popup-wrap .popup .content5 .click-btn .ok {
            background-color: #f93873; }
  body .wrapper .popup-wrap1 {
    top: 0;
    width: 100vw;
    height: 100vw;
    visibility: hidden;
    display: flex;
    z-index: 100;
    justify-content: center;
    position: fixed; }
    body .wrapper .popup-wrap1 .popup {
      margin-top: 7vw;
      overflow-y: scroll;
      width: 60vw;
      height: 25vw;
      background-color: white;
      padding: 5.6vw; }
      body .wrapper .popup-wrap1 .popup .title .title-wrap {
        display: flex;
        align-items: flex-end;
        line-height: 2.8vw; }
        body .wrapper .popup-wrap1 .popup .title .title-wrap h1 {
          font-size: 2.5vw;
          font-family: "NeoB"; }
      body .wrapper .popup-wrap1 .popup .title p {
        margin-top: 1vw;
        font-size: 1vw;
        color: #434343;
        font-family: "NeoM"; }
      body .wrapper .popup-wrap1 .popup .content1 {
        margin-top: 2vw; }
        body .wrapper .popup-wrap1 .popup .content1 h1 {
          font-family: "NeoB";
          font-size: 1.5vw; }
        body .wrapper .popup-wrap1 .popup .content1 p {
          margin-top: 0.5vw;
          font-size: 1.0vw;
          font-family: "NeoM";
          color: #434343; }
        body .wrapper .popup-wrap1 .popup .content1 input {
          border: none;
          border-bottom: 1.8px solid lightgray;
          padding-top: 1.5vw;
          padding-bottom: 0.5vw;
          width: 100%;
          background-repeat: no-repeat;
          font-size: 1.2vw; }
        body .wrapper .popup-wrap1 .popup .content1 input:focus {
          outline: none; }
        body .wrapper .popup-wrap1 .popup .content1 input::-webkit-input-placeholder {
          font-size: 1.2vw;
          text-align: initial;
          color: black;
          font-family: "NeoB"; }
      body .wrapper .popup-wrap1 .popup .content2 {
        margin-top: 2vw; }
        body .wrapper .popup-wrap1 .popup .content2 h1 {
          font-family: "NeoB";
          font-size: 1.5vw; }
        body .wrapper .popup-wrap1 .popup .content2 input {
          border: none;
          border-bottom: 1.8px solid lightgray;
          padding-top: 1.5vw;
          padding-bottom: 0.5vw;
          margin-bottom: 1.5vw;
          width: 100%;
          background-repeat: no-repeat;
          font-size: 1.2vw; }
        body .wrapper .popup-wrap1 .popup .content2 input:focus {
          outline: none; }
        body .wrapper .popup-wrap1 .popup .content2 input::-webkit-input-placeholder {
          font-size: 1.2vw;
          text-align: initial;
          color: black;
          font-family: "NeoB"; }
        body .wrapper .popup-wrap1 .popup .content2 textarea {
          margin-bottom: 1vw;
          font-size: 1.2vw;
          border: 1px solid lightgray;
          width: 97%;
          border-radius: 1vw;
          padding: 1vw; }
        body .wrapper .popup-wrap1 .popup .content2 textarea::placeholder {
          color: #434343;
          font-family: "NeoM"; }
      body .wrapper .popup-wrap1 .popup .content3 {
        margin-bottom: 3.5vw; }
        body .wrapper .popup-wrap1 .popup .content3 p {
          font-size: 1vw;
          font-family: "NeoM";
          margin-bottom: 1.5vw; }
        body .wrapper .popup-wrap1 .popup .content3 .file-btn {
          display: flex;
          justify-content: center; }
          body .wrapper .popup-wrap1 .popup .content3 .file-btn img {
            width: 11.6vw; }
      body .wrapper .popup-wrap1 .popup .content4 {
        border: 1px solid lightgray;
        font-size: 0.9vw;
        border-radius: 1vw;
        padding: 0.9vw;
        font-family: "NeoM"; }
      body .wrapper .popup-wrap1 .popup .content5 {
        margin-top: 4vw;
        font-size: 1.2vw;
        font-family: "NeoM";
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .wrapper .popup-wrap1 .popup .content5 .check-btn {
          display: flex;
          align-items: center; }
          body .wrapper .popup-wrap1 .popup .content5 .check-btn strong {
            font-family: "NeoB"; }
          body .wrapper .popup-wrap1 .popup .content5 .check-btn input[type="checkbox"] {
            transform: scale(1.2);
            margin-right: 0.58vw; }
        body .wrapper .popup-wrap1 .popup .content5 .click-btn {
          margin-top: 4vw;
          display: flex; }
          body .wrapper .popup-wrap1 .popup .content5 .click-btn > div {
            font-family: "NeoB";
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5vw;
            font-size: 1vw;
            width: 12.5vw;
            height: 3vw;
            color: white;
            margin-left: 0.8vw; }
          body .wrapper .popup-wrap1 .popup .content5 .click-btn .cancel {
            background-color: #c7c7c7; }
          body .wrapper .popup-wrap1 .popup .content5 .click-btn .ok {
            background-color: #f93873; }
  body .wrapper .header {
    margin-top: 2.8vw;
    display: flex;
    justify-content: center; }
    body .wrapper .header .inner-header {
      display: flex;
      position: relative;
      justify-content: space-between;
      width: 80%;
      align-items: center;
      z-index: 10; }
      body .wrapper .header .inner-header img {
        width: 10vw; }
      body .wrapper .header .inner-header ul {
        right: 0;
        display: flex; }
        body .wrapper .header .inner-header ul li {
          margin-left: 0.9vw;
          font-size: 1.25vw;
          font-family: "NeoB"; }
        body .wrapper .header .inner-header ul .bold {
          font-family: "NeoH"; }
  body .wrapper .content {
    position: absolute;
    top: 0;
    width: 100vw; }
    body .wrapper .content .main-section1-wrap .slider-button {
      top: 43vw;
      left: 12vw;
      z-index: 10;
      position: absolute;
      color: white;
      display: flex;
      align-items: center;
      font-family: "NeoB";
      font-size: 1.2vw; }
      body .wrapper .content .main-section1-wrap .slider-button .left {
        width: 0.8vw;
        margin-right: 0.7vw; }
      body .wrapper .content .main-section1-wrap .slider-button .bar-wrap {
        position: relative;
        margin: 0px 9px;
        width: 8vw;
        height: 7px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.2); }
        body .wrapper .content .main-section1-wrap .slider-button .bar-wrap .bar {
          position: absolute;
          width: 10px;
          height: 7px;
          border-radius: 30px;
          background-color: white; }
      body .wrapper .content .main-section1-wrap .slider-button .right {
        margin-left: 14px;
        width: 0.8vw;
        margin-right: 1vw; }
      body .wrapper .content .main-section1-wrap .slider-button .play {
        width: 0.8vw; }
    body .wrapper .content .main-section1-wrap .mouse {
      position: absolute;
      top: 45vw;
      left: 49vw;
      animation-name: bounce;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
      body .wrapper .content .main-section1-wrap .mouse img {
        width: 1.4vw; }
    body .wrapper .content .main-section1-wrap .banner-wrap {
      display: flex;
      width: 400vw; }
      body .wrapper .content .main-section1-wrap .banner-wrap li {
        width: 100vw;
        overflow: hidden; }
        body .wrapper .content .main-section1-wrap .banner-wrap li img {
          width: 100vw; }
      body .wrapper .content .main-section1-wrap .banner-wrap .slider-img1 {
        position: relative; }
        body .wrapper .content .main-section1-wrap .banner-wrap .slider-img1 .text-wrap {
          width: 50vw;
          position: relative;
          letter-spacing: -0.1vw;
          line-height: 3.6vw;
          position: absolute;
          top: 17.2vw;
          left: 10.9vw; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img1 .text-wrap p {
            position: absolute;
            font-size: 1.9vw;
            font-family: "NeoB";
            z-index: 10; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img1 .text-wrap .big-font {
            position: absolute;
            top: 3.4vw;
            font-size: 3.1vw;
            font-family: "NeoEB"; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img1 .text-wrap .high-light {
            position: absolute;
            top: 4.9vw;
            width: 11.6vw; }
      body .wrapper .content .main-section1-wrap .banner-wrap .slider-img2 {
        position: relative; }
        body .wrapper .content .main-section1-wrap .banner-wrap .slider-img2 .text-wrap {
          position: absolute;
          top: 20.2vw;
          left: 10.7vw;
          font-family: "NeoM";
          line-height: 3.6vw; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img2 .text-wrap p {
            font-size: 3.1vw; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img2 .text-wrap .big-font {
            font-size: 3.1vw;
            font-family: "NeoH";
            color: #f28446; }
      body .wrapper .content .main-section1-wrap .banner-wrap .slider-img3 {
        position: relative; }
        body .wrapper .content .main-section1-wrap .banner-wrap .slider-img3 .text-wrap {
          position: absolute;
          top: 17.2vw;
          left: 10.9vw;
          line-height: 3.6vw; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img3 .text-wrap p {
            font-size: 1.9vw;
            font-family: "NeoB"; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img3 .text-wrap .big-font {
            font-size: 3.1vw;
            font-family: "NeoM"; }
            body .wrapper .content .main-section1-wrap .banner-wrap .slider-img3 .text-wrap .big-font em {
              color: #f5967a;
              font-family: "NeoH"; }
      body .wrapper .content .main-section1-wrap .banner-wrap .slider-img4 {
        position: relative; }
        body .wrapper .content .main-section1-wrap .banner-wrap .slider-img4 .text-wrap {
          position: absolute;
          top: 16.6vw;
          left: 10.9vw;
          line-height: 3.6vw; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img4 .text-wrap p {
            font-size: 3.1vw;
            font-family: "NeoSB"; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img4 .text-wrap .big-font {
            font-size: 3.1vw;
            font-family: "NeoSB";
            margin-bottom: 0.8vw; }
            body .wrapper .content .main-section1-wrap .banner-wrap .slider-img4 .text-wrap .big-font em {
              color: #d9427a;
              font-family: "NeoH"; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img4 .text-wrap .download-button img {
            width: 11.8vw; }
          body .wrapper .content .main-section1-wrap .banner-wrap .slider-img4 .text-wrap .download-button .appstore {
            margin-right: 1vw; }
    body .wrapper .content .main-section2-wrap {
      height: 49vw;
      display: flex;
      justify-content: center;
      width: 100vw; }
      body .wrapper .content .main-section2-wrap .main-section2-inner {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin-top: 1.7vw; }
        body .wrapper .content .main-section2-wrap .main-section2-inner .desc {
          margin-top: 18vw;
          transition: 2s; }
          body .wrapper .content .main-section2-wrap .main-section2-inner .desc .desc__title {
            display: flex;
            align-items: center;
            font-family: "NeoB";
            font-size: 1.4vw;
            margin-bottom: 0.5vw; }
            body .wrapper .content .main-section2-wrap .main-section2-inner .desc .desc__title img {
              margin-right: 0.9vw;
              width: 1.8vw;
              height: 1.8vw; }
          body .wrapper .content .main-section2-wrap .main-section2-inner .desc .desc__content1 {
            margin-left: 2.6vw;
            font-family: "NeoB";
            font-size: 2.6vw;
            letter-spacing: -0.1vw;
            margin-bottom: 0.5vw;
            line-height: 2.9vw; }
            body .wrapper .content .main-section2-wrap .main-section2-inner .desc .desc__content1 em {
              color: #f93873; }
          body .wrapper .content .main-section2-wrap .main-section2-inner .desc .desc__content2 {
            margin-left: 2.6vw;
            font-family: "NeoSB";
            font-size: 1.4vw;
            line-height: 1.9vw; }
        body .wrapper .content .main-section2-wrap .main-section2-inner .phone-img {
          transition: 0.2s;
          width: 41vw;
          height: 43.1vw; }
    body .wrapper .content .main-section3-wrap {
      width: 100vw;
      position: relative;
      height: 72.6vw; }
      body .wrapper .content .main-section3-wrap .backgroud-img {
        width: 100%;
        height: 65vw; }
      body .wrapper .content .main-section3-wrap .main-section3-inner {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .wrapper .content .main-section3-wrap .main-section3-inner .desc {
          margin-top: 7.7vw;
          color: white; }
          body .wrapper .content .main-section3-wrap .main-section3-inner .desc .desc__title {
            font-family: "NeoB";
            font-size: 2.6vw;
            margin-bottom: 3vw; }
          body .wrapper .content .main-section3-wrap .main-section3-inner .desc .desc__content {
            font-family: "NeoSB";
            font-size: 1.4vw;
            margin-bottom: 5vw;
            text-align: center; }
        body .wrapper .content .main-section3-wrap .main-section3-inner .phone-img {
          width: 22.2vw;
          height: 40.7vw;
          animation-name: phoneImg; }
        body .wrapper .content .main-section3-wrap .main-section3-inner .text1 {
          position: absolute;
          width: 23.3vw;
          top: 36vw;
          left: 13.5%;
          animation-name: bounce;
          animation-duration: 5s;
          animation-iteration-count: infinite; }
        body .wrapper .content .main-section3-wrap .main-section3-inner .text2 {
          position: absolute;
          top: 50.4vw;
          left: 18%;
          width: 18.7vw;
          animation-name: bounce;
          animation-duration: 2s;
          animation-iteration-count: infinite; }
        body .wrapper .content .main-section3-wrap .main-section3-inner .text3 {
          position: absolute;
          top: 38.1vw;
          left: 61%;
          width: 25.7vw;
          animation-name: bounce;
          animation-duration: 5s;
          animation-iteration-count: infinite; }
        body .wrapper .content .main-section3-wrap .main-section3-inner .text4 {
          position: absolute;
          top: 50.6vw;
          left: 61%;
          width: 18.8vw;
          animation-name: bounce;
          animation-duration: 3s;
          animation-iteration-count: infinite; }
    body .wrapper .content .main-section4-wrap {
      width: 100vw;
      height: 29.5vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      body .wrapper .content .main-section4-wrap .main-section4-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        body .wrapper .content .main-section4-wrap .main-section4-inner .desc {
          display: flex;
          flex-direction: column;
          align-items: center; }
          body .wrapper .content .main-section4-wrap .main-section4-inner .desc .desc__title {
            font-size: 2.6vw;
            font-family: "NeoEB";
            letter-spacing: -0.1vw;
            margin-bottom: 0.7vw; }
          body .wrapper .content .main-section4-wrap .main-section4-inner .desc .desc__content {
            font-size: 1.4vw;
            font-family: "NeoB";
            margin-bottom: 2.3vw; }
        body .wrapper .content .main-section4-wrap .main-section4-inner .icon-group {
          width: 46.5vw; }
    body .wrapper .content .main-section5-wrap {
      width: 100vw;
      height: 49vw;
      padding-top: 5.3vw; }
      body .wrapper .content .main-section5-wrap .slide_wrapper {
        display: flex;
        position: relative;
        width: 100vw;
        margin: 0 auto;
        height: 36.8vw;
        overflow: hidden; }
        body .wrapper .content .main-section5-wrap .slide_wrapper .slides {
          position: absolute;
          left: 0;
          top: 1vw;
          margin-left: 6.5vw;
          pointer-events: none; }
          body .wrapper .content .main-section5-wrap .slide_wrapper .slides li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 17.3vw;
            height: 34.8vw;
            float: left; }
            body .wrapper .content .main-section5-wrap .slide_wrapper .slides li img {
              width: 13.6vw;
              height: 27.4vw;
              filter: drop-shadow(0px 0px 0.6vw #c7c7c7); }
        body .wrapper .content .main-section5-wrap .slide_wrapper .animated {
          transition: 0.6s ease-out; }
      body .wrapper .content .main-section5-wrap .btn-wrap {
        padding-top: 2vw;
        display: flex;
        align-items: center;
        justify-content: center; }
        body .wrapper .content .main-section5-wrap .btn-wrap p {
          font-family: "NeoB";
          font-size: 1.4vw;
          margin-bottom: 0.3vw; }
        body .wrapper .content .main-section5-wrap .btn-wrap img {
          width: 4.8vw; }
    body .wrapper .content .main-section6-wrap {
      width: 100vw;
      height: 49vw;
      display: flex;
      justify-content: center; }
      body .wrapper .content .main-section6-wrap .main-section6-inner {
        width: 80%;
        display: flex; }
        body .wrapper .content .main-section6-wrap .main-section6-inner .desc {
          display: flex;
          margin-top: 14.6vw;
          transition: 2.5s; }
          body .wrapper .content .main-section6-wrap .main-section6-inner .desc > img {
            width: 1.8vw;
            height: 1.8vw;
            margin-top: 0.3vw;
            margin-right: 1.5vw; }
          body .wrapper .content .main-section6-wrap .main-section6-inner .desc .desc__title {
            font-size: 2.6vw;
            font-family: "NeoB";
            margin-bottom: 0.5vw;
            line-height: 2.9vw; }
          body .wrapper .content .main-section6-wrap .main-section6-inner .desc .desc__content {
            font-size: 1.4vw;
            font-family: "NeoSB";
            margin-bottom: 1vw;
            line-height: 1.9vw; }
          body .wrapper .content .main-section6-wrap .main-section6-inner .desc .desc__content-img img {
            width: 24vw; }
        body .wrapper .content .main-section6-wrap .main-section6-inner .phone-img {
          margin-top: 2.6vw;
          margin-left: 3.6vw;
          width: 45vw;
          height: 47vw;
          transition: 1s; }
    body .wrapper .content .main-section7-wrap {
      width: 100vw;
      height: 49vw;
      display: flex;
      justify-content: center;
      margin-top: 12vw;
      flex-direction: column;
      align-items: center; }
      body .wrapper .content .main-section7-wrap .card-img {
        width: 51.4vw;
        transition: 1s; }
      body .wrapper .content .main-section7-wrap .card-img:hover {
        width: 57.4vw; }
      body .wrapper .content .main-section7-wrap .desc {
        display: flex; }
        body .wrapper .content .main-section7-wrap .desc .desc__title {
          font-size: 2.6vw;
          letter-spacing: -0.1vw;
          font-family: "NeoR";
          margin-right: 5vw;
          line-height: 2.9vw; }
          body .wrapper .content .main-section7-wrap .desc .desc__title em {
            font-family: "NeoB"; }
        body .wrapper .content .main-section7-wrap .desc .desc__content {
          font-size: 1.4vw;
          font-family: "NeoSB";
          line-height: 1.9vw; }
    body .wrapper .content .main-section8-wrap {
      width: 100vw; }
      body .wrapper .content .main-section8-wrap .instagram .instagram__title {
        display: flex;
        align-items: center;
        margin-bottom: 1.6vw;
        margin-top: 9.4vw; }
        body .wrapper .content .main-section8-wrap .instagram .instagram__title .b-in {
          font-size: 2.6vw;
          font-family: "NeoEB";
          margin-left: 11vw;
          margin-right: 0.5vw; }
        body .wrapper .content .main-section8-wrap .instagram .instagram__title .sm-tag {
          font-size: 1.4vw;
          font-family: "NeoSB"; }
      body .wrapper .content .main-section8-wrap .instagram .instagram__slide_wrapper {
        position: relative;
        width: 100vw;
        margin: 0 auto;
        height: 14vw;
        overflow: hidden;
        margin-bottom: 6.2vw; }
        body .wrapper .content .main-section8-wrap .instagram .instagram__slide_wrapper .slides {
          position: absolute;
          left: 0;
          top: 0;
          margin-left: 9vw; }
          body .wrapper .content .main-section8-wrap .instagram .instagram__slide_wrapper .slides li {
            width: 14vw;
            height: 14vw;
            float: left;
            margin-right: 2.6vw; }
        body .wrapper .content .main-section8-wrap .instagram .instagram__slide_wrapper .slides.animated {
          transition: 0.5s ease-out; }
        body .wrapper .content .main-section8-wrap .instagram .instagram__slide_wrapper .card-img {
          width: 14vw;
          margin-left: 2.6vw; }
      body .wrapper .content .main-section8-wrap .news {
        margin-left: 11vw; }
        body .wrapper .content .main-section8-wrap .news > p {
          font-size: 2.6vw;
          font-family: "NeoR";
          letter-spacing: -0.1vw;
          line-height: 2.9vw; }
          body .wrapper .content .main-section8-wrap .news > p em {
            font-family: "NeoEB"; }
        body .wrapper .content .main-section8-wrap .news .news-inner {
          margin-left: 6vw;
          display: flex;
          margin-top: 5.5vw; }
          body .wrapper .content .main-section8-wrap .news .news-inner li {
            width: 23.4vw;
            height: 22.1vw;
            display: flex;
            flex-direction: column;
            align-items: center; }
            body .wrapper .content .main-section8-wrap .news .news-inner li .card-img {
              overflow: hidden;
              width: 20.4vw;
              border-radius: 1.6vw;
              box-shadow: 0px 0px 1.1vw #c7c7c7; }
              body .wrapper .content .main-section8-wrap .news .news-inner li .card-img img {
                width: 20.4vw; }
              body .wrapper .content .main-section8-wrap .news .news-inner li .card-img img:hover {
                transition: all 0.5s linear;
                transform: scale(1.1); }
            body .wrapper .content .main-section8-wrap .news .news-inner li .news1__title {
              margin-top: 1.6vw;
              padding: 0px 1.9vw;
              font-size: 1.4vw;
              font-family: "NeoB"; }
            body .wrapper .content .main-section8-wrap .news .news-inner li .news1__date {
              padding: 1.1vw 1.9vw;
              font-size: 1.1vw;
              font-family: "NeoM";
              color: #7d7d7d; }
        body .wrapper .content .main-section8-wrap .news .news-btn-wrap {
          margin-top: 3.1vw;
          width: 89%;
          display: flex;
          justify-content: center; }
          body .wrapper .content .main-section8-wrap .news .news-btn-wrap .news-btn {
            width: 16.15vw;
            height: 3.65vw;
            background-image: url("../img/main-section8/news_button.png");
            background-size: 16.15vw 3.65vw; }
          body .wrapper .content .main-section8-wrap .news .news-btn-wrap .news-btn:hover {
            background-image: url("../img/main-section8/news_button_hover.png");
            background-size: 16.15vw 3.65vw;
            transition: .2s; }
      body .wrapper .content .main-section8-wrap .company-info {
        margin-top: 10vw; }
        body .wrapper .content .main-section8-wrap .company-info .company-info-wrap {
          display: flex;
          color: white;
          justify-content: center; }
          body .wrapper .content .main-section8-wrap .company-info .company-info-wrap li {
            margin-left: 2.3vw;
            margin-right: 2.3vw; }
            body .wrapper .content .main-section8-wrap .company-info .company-info-wrap li .desc1-wrap:hover > img {
              transition: all 1s linear;
              transform: scale(1.1); }
            body .wrapper .content .main-section8-wrap .company-info .company-info-wrap li .desc1-wrap {
              position: relative;
              width: 34.8vw;
              height: 10.4vw;
              border-radius: 1.5vw;
              overflow: hidden;
              border-radius: 30px;
              background-color: rgba(0, 0, 0, 0.28); }
              body .wrapper .content .main-section8-wrap .company-info .company-info-wrap li .desc1-wrap img {
                position: absolute;
                width: 34.8vw;
                height: 10.4vw;
                z-index: -1; }
              body .wrapper .content .main-section8-wrap .company-info .company-info-wrap li .desc1-wrap .clickbtn1 {
                z-index: 10; }
              body .wrapper .content .main-section8-wrap .company-info .company-info-wrap li .desc1-wrap .desc1 {
                position: absolute;
                display: flex;
                flex-direction: column; }
                body .wrapper .content .main-section8-wrap .company-info .company-info-wrap li .desc1-wrap .desc1 .desc__title {
                  margin-top: 2.13vw;
                  margin-left: 1.45vw;
                  font-size: 1.4vw;
                  font-family: "NeoB"; }
                body .wrapper .content .main-section8-wrap .company-info .company-info-wrap li .desc1-wrap .desc1 img {
                  width: 9.8vw;
                  height: 3vw;
                  margin-left: 24vw;
                  margin-top: 6.14vw; }
                body .wrapper .content .main-section8-wrap .company-info .company-info-wrap li .desc1-wrap .desc1 .desc__content {
                  margin-top: 1.5vw;
                  margin-left: 1.45vw;
                  font-size: 1.2vw;
                  font-family: "NeoSB"; }
          body .wrapper .content .main-section8-wrap .company-info .company-info-wrap .desc2-wrap:hover > img {
            transition: all 1s linear;
            transform: scale(1.1); }
          body .wrapper .content .main-section8-wrap .company-info .company-info-wrap .desc2-wrap {
            position: relative;
            width: 34.8vw;
            height: 10.4vw;
            border-radius: 1.5vw;
            overflow: hidden;
            border-radius: 30px;
            background-color: rgba(0, 0, 0, 0.28); }
            body .wrapper .content .main-section8-wrap .company-info .company-info-wrap .desc2-wrap img {
              position: absolute;
              width: 34.8vw;
              height: 10.4vw;
              z-index: -1; }
            body .wrapper .content .main-section8-wrap .company-info .company-info-wrap .desc2-wrap .clickbtn2 {
              z-index: 10; }
            body .wrapper .content .main-section8-wrap .company-info .company-info-wrap .desc2-wrap .desc2 {
              position: absolute;
              display: flex;
              flex-direction: column; }
              body .wrapper .content .main-section8-wrap .company-info .company-info-wrap .desc2-wrap .desc2 .desc__title {
                margin-top: 2.13vw;
                margin-left: 1.45vw;
                font-size: 1.4vw;
                font-family: "NeoB"; }
              body .wrapper .content .main-section8-wrap .company-info .company-info-wrap .desc2-wrap .desc2 img {
                width: 7vw;
                height: 3vw;
                margin-left: 26.6vw;
                margin-top: 6.14vw; }
              body .wrapper .content .main-section8-wrap .company-info .company-info-wrap .desc2-wrap .desc2 .desc__content {
                margin-top: 1.5vw;
                margin-left: 1.45vw;
                font-size: 1.2vw;
                font-family: "NeoSB"; }
      body .wrapper .content .main-section8-wrap .store-download {
        margin-left: 10vw;
        margin-top: 6vw;
        position: relative;
        height: 30vw; }
        body .wrapper .content .main-section8-wrap .store-download .img-wrap img {
          position: absolute;
          width: 82vw; }
        body .wrapper .content .main-section8-wrap .store-download .img-wrap .text-wrap {
          margin-left: 28vw;
          position: absolute;
          color: white;
          margin-top: 11.2vw; }
          body .wrapper .content .main-section8-wrap .store-download .img-wrap .text-wrap p {
            text-align: center;
            font-size: 1.66vw;
            font-family: "NeoB"; }
            body .wrapper .content .main-section8-wrap .store-download .img-wrap .text-wrap p em {
              font-size: 1.97vw;
              font-family: "NeoEB"; }
        body .wrapper .content .main-section8-wrap .store-download .img-wrap .download-wrap {
          position: absolute;
          top: 18.2vw; }
          body .wrapper .content .main-section8-wrap .store-download .img-wrap .download-wrap .app {
            width: 12.4vw;
            margin-left: 26vw; }
          body .wrapper .content .main-section8-wrap .store-download .img-wrap .download-wrap .google {
            width: 12.4vw;
            margin-left: 40.4vw; }
    body .wrapper .content footer {
      width: 100vw;
      height: 15vw;
      background-color: #2b2b2b;
      display: flex;
      justify-content: center; }
      body .wrapper .content footer .footer-wrap {
        width: 80%; }
        body .wrapper .content footer .footer-wrap .title {
          display: flex;
          align-items: center;
          margin-top: 1.6vw;
          margin-bottom: 1vw; }
          body .wrapper .content footer .footer-wrap .title .logo {
            width: 10vw;
            margin-right: 3.6vw; }
          body .wrapper .content footer .footer-wrap .title p {
            color: white;
            font-size: 1vw;
            font-family: "NeoL"; }
          body .wrapper .content footer .footer-wrap .title ul {
            display: flex;
            align-items: center;
            margin-left: 26.9vw; }
            body .wrapper .content footer .footer-wrap .title ul li {
              margin-left: 1.5vw; }
            body .wrapper .content footer .footer-wrap .title ul .facebook {
              width: 0.7vw; }
            body .wrapper .content footer .footer-wrap .title ul .twitter {
              width: 1.6vw; }
            body .wrapper .content footer .footer-wrap .title ul .instagram {
              width: 1.8vw; }
            body .wrapper .content footer .footer-wrap .title ul .blog {
              width: 1vw; }
            body .wrapper .content footer .footer-wrap .title ul .youtube {
              width: 1.9vw; }
        body .wrapper .content footer .footer-wrap .footer-hr {
          border: 1px solid #878787;
          background-color: #878787; }
        body .wrapper .content footer .footer-wrap > p {
          margin-top: 1.5vw;
          color: #878787;
          font-size: 1vw;
          font-family: "NeoL";
          line-height: 1.8vw; }
  body .pink-c {
    color: #f93873; }

.custom-scroll::-webkit-scrollbar {
  width: 5px; }

.custom-scroll::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100px; }

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #c7c7c7 0%, #c7c7c7 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5); }
