@import "./reset.scss";
@font-face {
    font-family:"NeoB";
    src:url("../font/appleSDGothicNeoB.ttf");
} 
@font-face {
    font-family:"NeoEB";
    src:url("../font/appleSDGothicNeoEB.ttf");
} 
@font-face {
    font-family:"NeoH";
    src:url("../font/appleSDGothicNeoH.ttf");
} 
@font-face {
    font-family:"NeoL";
    src:url("../font/appleSDGothicNeoL.ttf");
} 
@font-face {
    font-family:"NeoM";
    src:url("../font/appleSDGothicNeoM.ttf");
} 
@font-face {
    font-family:"NeoR";
    src:url("../font/appleSDGothicNeoR.ttf");
} 
@font-face {
    font-family:"NeoSB";
    src:url("../font/appleSDGothicNeoSB.ttf");
} 
@font-face {
    font-family:"NeoT";
    src:url("../font/appleSDGothicNeoT.ttf");
} 
@font-face {
    font-family:"NeoUL";
    src:url("../font/appleSDGothicNeoUL.ttf");
} 
@keyframes  bounce {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-30px);}
    100% {transform: translateY(0px);}
} 
body {
    @import "./index.scss";
    overflow-x: hidden;
  .pink-c{
      color:#f93873 ;
  }
//   .footer{
//     border:1px solid black;
//     width: 100vw;
//     height: 20px;
// }
}

 