.wrapper {

    .header {
        margin-top: 55px;
        display: flex;
        justify-content: center;


        .inner-header {
            display: flex;
            position: relative;
            justify-content: space-between;
            width: 80%;
            align-items: center;
            z-index: 10;
            position: fixed;

            img {
                width: 193px;
                height: 45px;
            }

            ul {
                right: 0;
                display: flex;

                li {
                    margin-left: 19px;
                    font-size: 24px;
                    font-family: "NeoB";

                }

                .bold {
                    font-family: "NeoH";
                }
            }


        }
    }

    .content {
        position: absolute;
        top: 0;

        .main-section1-wrap {
            .slider-button {
                top: 43vw;
                left: 12vw;
                z-index: 10;
                position: absolute;
                color: white;
                display: flex;
                align-items: center;
                font-family: "NeoB";
                font-size: 1.2vw;

                .left {
                    width: 0.8vw;

                    margin-right: 14px;
                }


                .bar-wrap {
                    position: relative;
                    margin: 0px 9px;
                    width: 83px;
                    height: 7px;
                    border-radius: 30px;
                    background-color: rgba(0, 0, 0, 0.2);
                    ;

                    .bar {
                        position: absolute;

                        width: 10px;
                        height: 7px;
                        border-radius: 30px;
                        background-color: white;
                    }
                }

                .right {
                    margin-left: 14px;
                    width: 0.8vw;
                    margin-right: 1vw;
                }
            }

            .mouse {
                position: absolute;
                top: 45vw;
                left: 49vw;
                animation-name: bounce;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }

            .banner-wrap {
                display: flex;


                img {
                    width: 100vw;
                }


                .slider-img1 {
                    position: relative;

                    .text-wrap {
                        width: 50vw;
                        position: relative;
                        letter-spacing: -3px;
                        line-height: 3.6vw;
                        position: absolute;
                        top: 17.2vw;
                        left: 10.9vw;

                        p {
                            position: absolute;

                            font-size: 1.9vw;
                            font-family: "NeoB";
                            z-index: 10;
                        }

                        .big-font {
                            position: absolute;
                            top: 3.4vw;
                            font-size: 3.1vw;
                            font-family: "NeoEB";

                        }

                        .high-light {
                            position: absolute;
                            top: 4.9vw;
                            width: 11.6vw;
                        }
                    }

                }

                .slider-img2 {
                    position: relative;

                    .text-wrap {
                        position: absolute;
                        top: 20.2vw;
                        left: 10.7vw;
                        font-family: "NeoM";
                        line-height: 3.6vw;

                        p {
                            font-size: 3.1vw;

                        }

                        .big-font {
                            font-size: 3.1vw;
                            font-family: "NeoH";
                            color: #f28446;

                        }
                    }

                }

                .slider-img3 {
                    position: relative;

                    .text-wrap {
                        position: absolute;
                        top: 17.2vw;
                        left: 10.9vw;
                        line-height: 3.6vw;

                        p {
                            font-size: 1.9vw;
                            font-family: "NeoB";

                        }

                        .big-font {
                            font-size: 3.1vw;
                            font-family: "NeoM";

                            em {
                                color: #f5967a;
                                font-family: "NeoH";
                            }
                        }
                    }

                }

                .slider-img4 {
                    position: relative;

                    .text-wrap {
                        position: absolute;
                        top: 16.6vw;
                        left: 10.9vw;
                        line-height: 3.6vw;

                        p {
                            font-size: 3.1vw;
                            font-family: "NeoSB";

                        }

                        .big-font {
                            font-size: 3.1vw;
                            font-family: "NeoSB";

                            em {
                                color: #d9427a;
                                font-family: "NeoH";
                            }
                        }

                        .download-button {

                            img {
                                width: 11.8vw;

                            }

                            .appstore {
                                margin-right: 1vw;
                            }

                        }
                    }

                }

            }


        }

        .main-section2-wrap {
            height: 49vw;
            display: flex;
            justify-content: center;
            width: 100vw;

            .main-section2-inner {

                display: flex;
                width: 80%;
                justify-content: space-between;
                margin-top: 33px;

                .desc {
                    margin-top: 18vw;
                    transition: 1.2s;


                    .desc__title {
                        display: flex;
                        align-items: center;
                        font-family: "NeoB";
                        font-size: 1.4vw;
                        margin-bottom: 10px;

                        img {
                            margin-right: 19px;
                            width: 36px;
                            height: 36px;
                        }
                    }

                    .desc__content1 {
                        margin-left: 50px;
                        font-family: "NeoB";
                        font-size: 2.6vw;
                        letter-spacing: -2.5px;
                        margin-bottom: 10px;

                        em {
                            color: #f93873;
                        }

                    }

                    .desc__content2 {
                        margin-left: 50px;
                        font-family: "NeoSB";
                        font-size: 1.4vw;

                    }


                }

                .phone-img {
                    transition: 0.5s;
                    width: 41vw;
                    height: 43.1vw;
                }
            }

        }

        .main-section3-wrap {
            width: 100vw;
            position: relative;
            height: 72.6vw;


            .backgroud-img {
                width: 100%;
                height: 65vw;
            }

            .main-section3-inner {
                position: absolute;
                top: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .desc {

                    margin-top: 7.7vw;
                    color: white;

                    .desc__title {
                        font-family: "NeoB";
                        font-size: 2.6vw;
                        margin-bottom: 3vw;
                    }

                    .desc__content {
                        font-family: "NeoSB";
                        font-size: 1.4vw;
                        margin-bottom: 5vw;
                        text-align: center;
                    }
                }

                .phone-img {
                    width: 22.2vw;
                    height: 40.7vw;
                    animation-name: phoneImg;
                }



                .text1 {
                    position: absolute;
                    width: 23.3vw;
                    top: 36vw;
                    left: 13.5%;
                    animation-name: bounce;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                }

                .text2 {
                    position: absolute;
                    top: 50.4vw;
                    left: 18%;
                    width: 18.7vw;
                    animation-name: bounce;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }

                .text3 {
                    position: absolute;
                    top: 38.1vw;
                    left: 61%;
                    width: 25.7vw;
                    animation-name: bounce;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                }

                .text4 {
                    position: absolute;
                    top: 50.6vw;
                    left: 61%;
                    width: 18.8vw;
                    animation-name: bounce;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                }
            }
        }

        .main-section4-wrap {
            width: 100vw;
            height: 29.5vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .main-section4-inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .desc {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .desc__title {
                        font-size: 2.6vw;
                        font-family: "NeoB";
                        letter-spacing: -2.5px;
                        margin-bottom: 15px;
                    }

                    .desc__content {
                        font-size: 1.4vw;
                        font-family: "NeoB";
                        margin-bottom: 46px;
                    }
                }

                .icon-group {

                    width: 46.5vw;
                }
            }
        }

        .main-section5-wrap {
            width: 100vw;

            height: 49vw;
            padding-top: 5.3vw;

            .slide_wrapper {
                display: flex;
                position: relative;
                width: 100vw;
                margin: 0 auto;
                height: 36.8vw;
                overflow: hidden;
               
                .slides {
                    position: absolute;
                    left: 0;
                    top: 1vw;
                    margin-left: 6.5vw;
                    pointer-events: none;

                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 17.3vw;
                        height: 34.8vw;

                        float: left;

                        img {
                            width: 13.6vw;
                            height: 27.4vw;
                            
                            filter:  drop-shadow(0px 0px 0.6vw #c7c7c7);
                          
                        }
                    }
                }

                .animated {
                    transition: 0.6s ease-out;
                }
            }

            .btn-wrap {
                padding-top: 2vw;
                display: flex;

                align-items: center;
                justify-content: center;

                p {
                    font-family: "NeoB";
                    font-size: 1.4vw;
                    margin-bottom: 0.3vw;
                }

                img {
                    width: 4.8vw;
                }
            }
        }

        .main-section6-wrap {
            width: 100vw;

            height: 49vw;
            display: flex;
            justify-content: center;

            .main-section6-inner {
                width: 80%;
                display: flex;

                .desc {
                    display: flex;
                    margin-top: 14.6vw;

                    >img {
                        width: 36px;
                        height: 36px;
                        margin-top: 14px;
                        margin-right: 28.9px;
                    }

                    .desc__title {
                        font-size: 2.6vw;
                        font-family: "NeoB";
                        margin-bottom: 10px;
                    }

                    .desc__content {
                        font-size: 1.4vw;
                        font-family: "NeoSB";
                        margin-bottom: 20px;

                    }

                    .desc__content-img {
                        img {
                            width: 24vw;
                        }


                    }

                }

                .phone-img {
                    margin-top: 50px;
                    margin-left: 70px;
                    width: 45vw;
                    height: 47vw;
                }
            }
        }

        .main-section7-wrap {
            width: 100vw;
            height: 49vw;
            display: flex;
            justify-content: center;
            margin-top: 12vw;
            flex-direction: column;
            align-items: center;

            .card-img {
                width: 51.4vw;
                transition: 1s;

            }

            .card-img:hover {
                width: 57.4vw;
            }

            .desc {
                display: flex;


                .desc__title {
                    font-size: 2.6vw;
                    letter-spacing: -2.5px;
                    font-family: "NeoR";
                    margin-right: 5vw;

                    em {
                        font-family: "NeoB";
                    }

                }

                .desc__content {
                    font-size: 1.4vw;
                    font-family: "NeoSB"
                }
            }
        }

        .main-section8-wrap {
            width: 100vw;


            .instagram {

                .instagram__title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 32px;
                    margin-top: 9.4vw;

                    .b-in {
                        font-size: 2.6vw;
                        font-family: "NeoEB";
                        margin-left: 11vw;
                        margin-right: 10px;
                    }

                    .sm-tag {
                        font-size: 1.4vw;
                        font-family: "NeoSB";
                    }
                }

                .instagram__slide_wrapper {

                    position: relative;
                    width: 100vw;
                    margin: 0 auto;
                    height: 14vw;
                    overflow: hidden;
                    margin-bottom: 6.2vw;

                    .slides {
                        position: absolute;
                        left: 0;
                        top: 0;
                        margin-left: 9vw;

                        li {
                            width: 14vw;
                            height: 14vw;
                            float: left;
                            margin-right: 2.6vw;
                        }
                    }

                    .slides.animated {
                        transition: 0.5s ease-out;
                    }

                    .card-img {
                        width: 14vw;
                        margin-left: 50px;

                    }
                }
            }

            .news {

                margin-left: 11vw;

                >p {

                    font-size: 2.6vw;
                    font-family: "NeoR";
                    letter-spacing: -2.5px;

                    em {
                        font-family: "NeoEB";
                    }
                }

                .news-inner {
                    margin-left: 6vw;
                    display: flex;
                    margin-top: 5.5vw;

                    li {
                        width: 23.4vw;
                        height: 22.1vw;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .card-img {
                            overflow: hidden;
                            width: 20.4vw;
                            border-radius: 1.6vw;
                            box-shadow: 0px 0px 1.1vw #c7c7c7;

                            img {
                                width: 20.4vw;

                            }

                            img:hover {
                                transition: all 0.5s linear;
                                transform: scale(1.1);
                            }

                        }







                        .news1__title {
                            margin-top: 1.6vw;
                            padding: 0px 1.9vw;
                            font-size: 1.4vw;
                            font-family: "NeoB";
                        }

                        .news1__date {
                            padding: 1.1vw 1.9vw;
                            font-size: 1vw;
                            font-family: "NeoM";
                            color: #7d7d7d;

                        }
                    }
                }

                .news-btn-wrap {
                    margin-top: 3.1vw;
                    width: 89%;
                    display: flex;
                    justify-content: center;

                    .news-btn {
                        width: 16.15vw;
                        height: 3.65vw;
                        background-image: url('../img/main-section8/news_button.png');
                        background-size: 16.15vw 3.65vw;

                    }

                    .news-btn:hover {

                        background-image: url('../img/main-section8/news_button_hover.png');
                        background-size: 16.15vw 3.65vw;
                        transition: .2s;
                    }
                }

            }

            .company-info {
                margin-top: 10vw;


                .company-info-wrap {
                    display: flex;
                    color: white;

                    justify-content: center;

                    li {
                        margin-left: 2.3vw;
                        margin-right: 2.3vw;

                        .desc1-wrap {

                            position: relative;
                            width: 34.8vw;
                            height: 10.4vw;

                            border-radius: 1.5vw;
                            overflow: hidden;

                            img {
                                position: absolute;
                                width: 34.8vw;
                                height: 10.4vw;
                            }

                            >img:hover {
                                transition: all 0.5s linear;
                                transform: scale(1.2);
                            }

                            .desc1 {
                                position: absolute;
                                display: flex;
                                flex-direction: column;

                                .desc__title {
                                    margin-top: 2.13vw;
                                    margin-left: 1.45vw;
                                    font-size: 1.4vw;
                                    font-family: "NeoB";
                                }

                                img {
                                    width: 9.8vw;
                                    height: 3vw;
                                    margin-left: 24vw;
                                    margin-top: 6.14vw;
                                }

                                .desc__content {
                                    margin-left: 1.45vw;
                                    font-size: 1.2vw;
                                    font-family: "NeoSB";

                                }
                            }
                        }


                    }


                    .desc2-wrap {

                        position: relative;
                        width: 34.8vw;
                        height: 10.4vw;

                        border-radius: 1.5vw;
                        overflow: hidden;

                        img {
                            position: absolute;
                            width: 34.8vw;
                            height: 10.4vw;
                        }

                        >img:hover {
                            transition: all 0.5s linear;
                            transform: scale(1.2);
                        }

                        .desc2 {
                            position: absolute;
                            display: flex;
                            flex-direction: column;

                            .desc__title {
                                margin-top: 2.13vw;
                                margin-left: 1.45vw;
                                font-size: 1.4vw;
                                font-family: "NeoB";
                            }

                            img {
                                width: 7vw;
                                height: 3vw;
                                margin-left: 26.6vw;
                                margin-top: 6.14vw;
                            }

                            .desc__content {
                                margin-left: 1.45vw;
                                font-size: 1.2vw;
                                font-family: "NeoSB";

                            }
                        }
                    }

                }
            }

            .store-download {
                margin-left: 10.9vw;

                .img-wrap {
                    position: relative;

                    img {
                        position: absolute;
                        width: 89vw;
                    }

                    .text-wrap {
                        margin-left: 28vw;
                        position: absolute;

                        color: white;
                        margin-top: 17.2vw;

                        p {
                            text-align: center;
                            font-size: 1.66vw;
                            font-family: "NeoB";

                            em {
                                font-size: 1.97vw;
                                font-family: "NeoEB";
                            }
                        }
                    }

                    .download-wrap {
                        position: absolute;
                        top: 23.2vw;

                        .app {
                            width: 12.4vw;
                            margin-left: 26vw;
                        }

                        .google {
                            width: 12.4vw;
                            margin-left: 40.4vw;

                        }
                    }
                }
            }
        }
    }
}